.vscode/
backend/bin/
backend/include/
backend/lib/python3.6
backend/share/python-wheels/
backend/api/db.sqlite3
backend/api/dump.rdb
backend/api/api/__pycache__
backend/api/api/__init__.pyc
backend/api/api/settings.pyc 
backend/api/api/urls.pyc
backend/api/notification/__pycache__
backend/api/notification/migrations
backend/api/register/__pycache__
backend/api/register/migrations
backend/api/register/__init__.pyc
backend/api/register/admin.pyc
backend/api/register/model.pyc
backend/api/user/__pycache__
backend/api/user/migrations
