<div class="jumbotron jumbotron-fluid d-flex justify-content-center">
<div class="card" style="width: 36rem;">
    <div class="card-body">
        <h4 class="card-title text-center">Login</h4>
        <form>
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" placeholder="username" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="password" required>   
            </div>
            <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input">
                    <label class="form-check-label">Keep me Logged In</label>
            </div>
            <div class="text-center">
            <button type="submit" class="btn btn-primary">LogIn</button>
            </div>
        </form>
    </div>
</div>

</div>
      
      