<div class="jumbotron jumbotron-fluid d-flex justify-content-center">
<div class="card" style="width: 36rem;">
    <div class="card-body" [hidden]="submitted">
        <h4 class="card-title text-center">Login</h4>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <form (ngLogin)="onLogin()" #loginForm="ngForm">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control"
                 [(ngModel)]="model.username" name="username" id="username" placeholder="username" required #username="ngModel">
                <div [hidden]="username.valid || username.pristine"
                             class="alert alert-danger">
                          username is required
                </div>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control"
                 [(ngModel)]="model.password" name="password" id="password" placeholder="password" required #password="ngModel">
                <div [hidden]="password.valid || password.pristine"
                             class="alert alert-danger">
                          password is required
                </div>  
            </div>
            <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input">
                    <label class="form-check-label">Keep me Logged In</label>
            </div>
            <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid" (click)="login()">LogIn</button>
            </div>
        </form>
    </div>
</div>

</div>


      